/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/ner_county_detection.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml

venv
.env

__pycache__/
