# 1: Preparation of the training set (verified manually by you and then sent for verification to our Japanese colleagues).
# 2: The fine-tuned model, deployed on our servers and showing good results and performance in tests.
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/ner_county_detection.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
